<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GorselProgramlama.Properties.Settings.WellAppsConnectionString"
            connectionString="Data Source=DESKTOP-33UK2TB\SQLEXPRESS;Initial Catalog=WellApps;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>